sudo nano /etc/systemd/system/pelada.service
sudo systemctl start pelada

---------------

[Unit]
Description=pelada
After=multi-user.target

[Service]
ExecStart=/usr/bin/serve /var/www/pelada
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pelada
User=root

[Install]
WantedBy=multi-user.target

